/**
* Acumen - Magento Theme
* http://gravitydept.com/to/acumen
*
* @author     Brendan Falkowski
* @package    gravdept_acumen
* @copyright  2010-2016 Gravity Department. All rights reserved.
* @version    2.0.0
*/


// ==============================================
// Popup
// ==============================================

.page-popup {
    padding: 20px;
    background: #FFF;
}

.page-popup h1 {
    margin: 0 0 0.5em;
    font-size: 24px;
}
