<?xml version="1.0" encoding="UTF-8"?>

<!--
/**
* Acumen - Magento Theme
* http://gravitydept.com/to/acumen
*
* @author     Brendan Falkowski
* @package    gravdept_acumen
* @copyright  2010-2016 Gravity Department. All rights reserved.
* @version    2.0.0
*/
-->

<config>
    <modules>
        <GravDept_Checkout>
            <version>1.0.0</version>
        </GravDept_Checkout>
    </modules>
    <global>
        <blocks>
            <gravdept_checkout>
                <class>GravDept_Checkout_Block</class>
            </gravdept_checkout>
        </blocks>
    </global>
</config>
