.headroom {
    will-change: transform;
    transition: transform 200ms linear;
}
.headroom--pinned {
    transform: translateY(0%);
}
.headroom--unpinned {
    transform: translateY(-100%);
}
.site-header {
	width:100%;
	display:block;
	position:fixed;
	top:0;
	background:#fff;
	height:$header__height;
	z-index:99999;
	box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.07);
}
.site-header .menu-trigger, .site-header .logo, .site-header .search-wrap {
	display:inline-block;
}
@include bp(max-width,767px){
    .menu-trigger a {
		padding:15px 10px;
	}
    .header-account, .header-nav{
        top: 60px;
    }
}
