.main-nav {
    position: relative;
    top: 0px;
    left: 210px;
    width: calc(100% - 460px);
    white-space: nowrap;
    a {
        display: inline-block;
        padding: 0 20px;
        line-height: 60px;
        font-weight: bold;
    }
}
.priority-nav {
    white-space: nowrap;
    li{
        margin-right: -4px;
    }
}
.main-nav ul {
    display: inline-block;
    list-style: none;
    padding: 0;
    margin: 0;
}
.main-nav li {
    display: inline-block;
}
@include bp (min-width,768px){
    .nav-item{
        position:static;
    }
    .nav-link{
        overflow: inherit;
        color: #000;
        height: auto;
        &:hover,&:focus{
            color: darkorchid;
        }
    }
    .sliding-panel-content{
        & .nav-link{
            text-align: left;
        }
    }
    .no-touchevents .nav-link:hover:after{
        height:0px;
    }
}
@include bp (min-width,1000px){
    .nav-item{
        padding-right: 0;
    }
    .nav-link{
        font-size: $f-size-l;
        height: 60px;
        color: #000;
        &:hover,&:focus{
            color: darkorchid;
        }
    }
    .sliding-panel-content{
        & .nav-link{
            height: auto;
        }
    }
}
.is-empty {
    & .priority-nav__wrapper {
        display: none;
    }
}
.nav__dropdown {
  background: #fff;
  padding: 0 20px 10px 20px !important;
  white-space: nowrap;
  top: 100%;
  left: 0;
  transform-origin: center top;
  transform: rotateX(-30deg);
  opacity: 0;
  &.show {
      transform: rotateX(0deg);
      opacity: 1;
      visibility: visible;
      transition: 300ms cubic-bezier(0.25, 2, 0.25, 1);
  }
  &-wrapper {
      display: inline-block;
      perspective: 500px;
  }
  &-toggle {
      color: #000;
      font-size: 16px;
      outline: none;
      display: inline-block;
      border: none;
      background: none;
      padding: 0 20px;
      font-weight: bold;
      line-height: 60px;
      &:after {
          content: "\e93a";
          font-family: 'icomoon';
          font-size: 10px;
          margin-left: 4px;
          margin-top: 1px;
          position: absolute;
      }
      &:hover {
          color: darkorchid;
      }
  }
  li {
      display: block;
  }
  a {
      display: block;
      padding: 5px 0;
      line-height: 100%;
  }
}
ul {
    &.priority-nav__dropdown {
        position: absolute;
        visibility: hidden;
    }
    &.priority-nav__dropdown.show {
        visibility: visible;
    }
}
.priority-nav-is-visible {
  visibility: visible;
}
.priority-nav-is-hidden {
  visibility: hidden;
}
